.fivelines {
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}

.oneline {
    width: auto;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
}

.loaderactive {
    height: 100%;
    width: 100%;
}

.hiddenloader {
    display: none;
}
