.landing-image1 {
    background-image: url("../imgs/backgrounds/1.jpg") !important;
    background-size: cover !important;
}

.landing-image2 {
    background-image: url("../imgs/backgrounds/2.jpg") !important;
    background-size: cover !important;
}

.landing-image3 {
    background-image: url("../imgs/backgrounds/3.jpg") !important;
    background-size: cover !important;
}

.landing-image4 {
    background-image: url("../imgs/backgrounds/4.jpg") !important;
    background-size: cover !important;
}

.landing-image5 {
    background-image: url("../imgs/backgrounds/5.jpg") !important;
    background-size: cover !important;
}

.landing-image6 {
    background-image: url("../imgs/backgrounds/6.jpg") !important;
    background-size: cover !important;
}

.landing-image7 {
    background-image: url("../imgs/backgrounds/7.jpg") !important;
    background-size: cover !important;
}

.landing-image8 {
    background-image: url("../imgs/backgrounds/8.jpg") !important;
    background-size: cover !important;
}

.landing-image9 {
    background-image: url("../imgs/backgrounds/9.jpg") !important;
    background-size: cover !important;
}

.landing-image10 {
    background-image: url("../imgs/backgrounds/10.jpg") !important;
    background-size: cover !important;
}

.landing-image11 {
    background-image: url("../imgs/backgrounds/11.jpg") !important;
    background-size: cover !important;
}

.landing-image12 {
    background-image: url("../imgs/backgrounds/12.jpg") !important;
    background-size: cover !important;
}

.landing-image13 {
    background-image: url("../imgs/backgrounds/13.jpg") !important;
    background-size: cover !important;
}

.landing-image14 {
    background-image: url("../imgs/backgrounds/14.jpg") !important;
    background-size: cover !important;
}

.landing-image15 {
    background-image: url("../imgs/backgrounds/15.jpg") !important;
    background-size: cover !important;
}

.landing-image16 {
    background-image: url("../imgs/backgrounds/16.jpg") !important;
    background-size: cover !important;
}