body {
    background-image: url('../imgs/backgrounds/6.jpg');
    background-position-x: 100%;
    background-position-y: 90%;
    overflow-y:hidden;
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}